---
title: Page number one
---

<article class="article">
	<h1 class="article__title">{{ title }}</h1>
	<div class="article__body">
{{#markdown}}

Here is the list of useful helpers. For more information please visit [Assemble documentation](http://assemble.io/helpers/).

## Block helpers

* **\{{#each object}}** — iterate over specified object (private variables inside block: `@index`, `@key`)
* **\{{#if condition}}**<br>
	**\{{#unless condition}}**<br>
	**\{{#is arg1 arg2}}**<br>
	**\{{#isnt arg1 arg2}}**<br>
	**\{{#gt arg1 arg2}}**<br>
	**\{{#gte arg1 arg2}}**<br>
	**\{{#lt arg1 arg2}}**<br>
	**\{{#lte arg1 arg2}}**<br>
	**\{{#compare leftValue operator rightValue}}**<br>
	**\{{#and arg1 arg2}}**<br>
	**\{{#or arg1 arg2}}**
	— conditionally render a block ([more helpers](http://assemble.io/helpers/helpers-comparison.html))
* **\{{#markdown}}** — render block as markdown

## Inline helpers

* **\{{default value defaultValue}}** — provides a default or fallback value if a value doesn’t exist
* **\{{formatDate date format}}** — [format date](http://www.ruby-doc.org/core-1.9.3/Time.html#method-i-strftime)
* **\{{now format}}** — output current date and time
* **\{{debug}}** — log current context

{{/markdown}}


	</div>
</article>
