<!DOCTYPE html>
<html lang="{{default siteConfig.lang 'en'}}" class="no-js">
<head>
	<meta charset="utf-8">
	<title>{{default title basename}} :: {{siteConfig.title}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/_/styles/all.css?v={{now "%d%H%M%S"}}">
	<script src="/assets/_/javascripts/core.js?v={{now "%d%H%M%S"}}"></script>
</head>
<body class="page page-{{lowercase basename}} sticky-layout">
<div class="sticky-layout__wrap">
	<div class="sticky-layout__content">
		<!-- header -->
		{{> header}}
		<!-- /header -->

		<!-- page content -->
		{{> body}}
		<!-- /page content -->
	</div>
</div>
<div class="sticky-layout__footer">
	<!-- footer -->
	{{> footer}}
	<!-- /footer -->
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/assets/_/javascripts/all.js?v={{now "%d%H%M%S"}}"></script>

</body>
</html>